# Exercise 1  
Write Python code that prints your name, student number and email address.  
An example runs of the program:

In [1]:
print("Name: Abhilash PR")
print("Sl No: 2")
print("Mail ID: rajmannara@gmail.com")

Name: Abhilash PR
Sl No: 2
Mail ID: rajmannara@gmail.com

# Exercise 2 
Write Python code that prints your name, student number and email address using escape sequences.     
An example runs of the program:

In [2]:
print("Name :\tAbhilash PR \nSl No : 2 \nMail ID: rajmannara@gmail.com")

Name :	Abhilash PR
Sl No : 2
Mail ID: rajmannara@gmail.com

# Exercise 3 
Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7.  An example run of the program:

In [3]:
x=eval(input("Enter the number: "))
y=eval(input("Enter the number: "))
sign=eval(input("Select operations: ""\nAdd-1\tSub-2\tMul-3\tDiv-4\n"))
if(sign==1):
    z=x+y
    print(x,"+",y,"=",z)
elif(sign==2):
    z=x-y
    print(x,"-",y,"=",z)
elif(sign==3):
    z=x*y
    print(x,"*",y,"=",z)
else:
    z=x/y
    print(x,"/",y,"=",z)

Enter the number: 14
Enter the number: 7
Select operations:
Add-1	Sub-2	Mul-3	Div-4
2
14 - 7 = 7

# Exercise 4
Write Python code that displays the numbers from 1 to 5 as steps. 
An example runs of the program:

In [4]:

for i in range(1,6):
    print(i)

1
2
3
4
5

# Exercise 5
Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen: 
An example runs of the program:  
"SDK" stands for "Software Development Kit", whereas 
"IDE" stands for "Integrated Development Environment".

In [5]:
print("\"SDK\" stands for \"Software Development Kit\",whereas\n\"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit",whereas
"IDE" stands for "Integrated Development Environment".

# Exercise 6
Practice and check the output
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

In [6]:
print("\"python is an \"awesome\"language")

"python is an "awesome"language

In [7]:
print("python\n\t2023") #2023 printed after next line and a tab space

python
	2023

In [8]:
print('i\'m from Entry.\b')#remove the value before "\b".

i'm from Entry.

In [9]:
print("\65")#corresponding ASCII charecter of the octal value(65),"\value" represent the Octal number.

5

In [10]:
print("\x65")#corresponding ASCII charecter of the Hexadecimal value(65),"\x value" represent the Hexadecimal number.

e

In [11]:
print("Entri", "2023",sep="\n")#create new line in b/w entry and 2023 because use "sep="keyword.

Entri
2023

In [12]:
print("entry", "2023", sep="\b")#remove the value in b/w entry and 2023 because use "sep="keyword.

entry2023

In [13]:
print("Entry", "2023", sep="*",end="\b\b\b\b")#replace the value b/w entry and 2023 and delete last 4 charecter from last.

Entry*2023

# Exercise 7
Define the variables below. Print the types of each variable. What is the sum of your variables? (Hint: use a type conversion function.) What datatype is the sum?
num=23
textnum="57"
decimal=98.3

In [14]:
print(type(23))

<class 'int'>

In [15]:
print(type("57"))

<class 'str'>

In [16]:
print(type(98.3))

<class 'float'>

In [17]:
a=23    #integer
b="57"  #String
c=98.3  #float
d=int(b) #converted the string into an integer
sum=a+d+c
print(sum)

178.3

In [18]:
type(sum)  #sum is float

float

# Exercise 8
calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values
(hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [19]:
year=eval(input("Calender Year :"))
opt=eval(input("1-Min per years \n2-Days per years \n3-Month per years \n"))

if(opt==1):
    
    x=year*365*1440 #years*no:of days in a year*minits in a day
    print("Minits in ",year,"years is:",x,"min")
    
elif(opt==2):
    
    x=year*365
    print("Days in ",year,"years is:",x,"days")
    
else:
    x=year*12
    print("Months in ",year,"years is:",x,"Month")

Calender Year :5
1-Min per years
2-Days per years
3-Month per years
1
Minits in  5 years is: 2628000 min

# Exercise 9
Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting.
An example runs of the program:
Please enter you name: Tony
Hi Tony, welcome to Python programming :)

In [20]:
x=input("Name: ")

print("Welcome to the python world",x)

Name: abhilash PR
Welcome to the python world abhilash PR

# Exercise 10
Name your file: PoundsToDollars.py
Write a program that asks the user to enter an amount in pounds (£) and the program calculates and converts an amount in dollar ($)

In [21]:
print("Exchange Rate\n\nChoose One:\n1-pound(UK) to Doller(US)\n2-Doller(US) to pound(UK)")
i=eval(input())

if(i==1):
    pound=float(input("pound(£): "))
    Doller=pound*1.27      #from today market rate 1 pound = 1.27 Doller
    print("Doller($): ",Doller)
else:
    Doller=float(input("Doller($): "))
    pound=Doller/1.27
    print("pound(£): ",pound)

Exchange Rate

Choose One:
1-pound(UK) to Doller(US)
2-Doller(US) to pound(UK)
1
pound(£): 6
Doller($):  7.62